<div class="bg-baby-pink p-md-4">
  <div class="row w-75 mx-auto justify-content-center m-5 pb-5 bg-white rounded shadow-lg">
    <div class="col-lg-6 p-md-5">
      <h1 class="pb-1">Login</h1>
      <form (ngSubmit)="validateUserCredentials()" [formGroup]="loginForm"   
       autocomplete="off" class="">
        <div class="input-group mb-3">
          <input formControlName="mobile" type="text"
            class="form-control mt-5 pb-2 border-top-0 border-end-0 border-start-0" placeholder="Mobile Number"
            autocomplete="mobile" required>
        </div>
        <div class="input-group mb-2">
          <input formControlName="password" type="password"
            class="form-control mt-4 pb-2 border-top-0 border-end-0 border-start-0" placeholder="Password"
            autocomplete="current-password" required>
        </div>
        <!-- <p>{{this.error}}</p> -->
        <div class="row text-center mt-5 mb-4">
          <button type="submit" class="btn btn-primary rounded-pill px-5 py-2">
            <h3 class="px-5 pt-1">Login</h3>
          </button>
        </div>

      </form>
    </div>
  </div>
</div>